.img{
    height: 150px;
    width: 100%;
    
}
.img img {
 height: 150px;
 width: 100%;
 object-fit: cover;
}

.container{
    background-color: aliceblue;
    width: 400px;
     height: 300px;
     border: 1px solid black;
       display: inline-block;
       flex-wrap: wrap;
       margin: 10px;

}
.btn{
  background-color: black;
  color: white;
  border: 1px sold black;
  padding: 10px;
  
}
.text {
 padding: 10px;
 
}